
<div class="about-us">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-12 col-lg-6"><img src="img/team.jpg" alt="team" class="about-us__img"/></div>
      <div class="col-xs-12 col-md-12 col-lg-6">
        <div class="about-us__info">
          <div class="info">
            <h3 class="info__heading">Про клініку</h3>
            <p class="info-envelope__borderBlue"></p>
            <p class="info__subtext">Наша філософія полягає в наданні якісних-результативних стоматологічних послугах, позбавленні від знімніх протезів,металевих коронок та відновленні втрачених зубів, створенні чудової посмішки, досягнення запланованого результату і підвищеня впененості та статусу наших пацієнтів. Швидке і безболісне позбавлення від проблем із зубами, та чудова посмішка - мрія кожного.</p>
            <p class="info__subtext">Сучасна стоматологія направена не тільки на лікування, а й на естетичне створення гарної посмішки.</p>
            <p class="info__subtext">Для комфортного та ефективного лікування захворювань зубів в клініці ”Recovery" використовують сучасні європейскі методи та обладнання, завдяки чому  досвідчені лікарі-стоматологи при мінімальних втручаннях досягають високоестетичних результатів.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>