
<div id="doctors" class="about-doctor">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="about-doctor__heading">ЛІКАРІ</h2>
        <p class="about-doctor__subtext">Вірною запорукою якісного лікування є тисячі задоволених пацієнтів</p>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="about-doctor__envelope"><img src="img/doctor-2.jpg" alt="doctor-man" class="about-doctor__img"/>
          <div class="about-doctor__overlay-doc">
            <div class="overlay-doc">
              <h5 class="overlay-doc__heading">Слесаренко Дмитро Сергійович</h5>
              <p class="overlay-doc__subtext">	2010р. - закінчив Вінницький національний медичний університет ім. М.І.Пирогова, факультет-стоматологія</p>
              <p class="overlay-doc__experience">ЛІКАР-СТОМАТОЛОГ ТЕРАПЕВТ ОРТОПЕД ХІРУРГ</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="about-doctor__envelope"><img src="img/doctor-1.jpg" alt="doctor-woman" class="about-doctor__img"/>
          <div class="about-doctor__overlay-doc">
            <div class="overlay-doc">
              <h5 class="overlay-doc__heading">Буняк Тетяна Володимирівна</h5>
              <p class="overlay-doc__subtext">2011р. - закінчила Вінницький національний медичний університет ім. М.І.Пирогова, факультет-стоматологія</p>
              <p class="overlay-doc__experience">ЛІКАР-СТОМАТОЛОГ ТЕРАПЕВТ ОРТОПЕД КОСМЕТОЛОГ</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- About doctor-->