
<div class="advantages">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="advantages__heading">Переваги для вас</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <div class="advantages__envelope"><img src="img/target.png" class="advantages__envelope-img"/>
          <p class="advantages__envelope-info">Зосередженість в роботі</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="advantages__envelope"><img src="img/analytics.png" class="advantages__envelope-img"/>
          <p class="advantages__envelope-info">Прогнозуючий результат</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="advantages__envelope"><img src="img/records.png" class="advantages__envelope-img"/>
          <p class="advantages__envelope-info digital-info">Цифрова діагностика</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <div class="advantages__envelope"><img src="img/checklist.png" class="advantages__envelope-img"/>
          <p class="advantages__envelope-info">Складання і пояснення плану лікування (що, коли і навіщо робити)</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="advantages__envelope"><img src="img/medal.png" class="advantages__envelope-img"/>
          <p class="advantages__envelope-info">Сертифіковані матеріали</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="advantages__envelope"><img src="img/marker.png" class="advantages__envelope-img"/>
          <p class="advantages__envelope-info">Cучасне обладнення</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="advantages__heading">Гарантії</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <div class="advantages__envelope"><img src="img/garant-first.png" class="advantages__envelope-img"/>
          <p class="advantages__envelope-info">Планування комплексного лікування за складеним договором!</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="advantages__envelope"><img src="img/garant-second.png" class="advantages__envelope-img"/>
          <p class="advantages__envelope-info">При затримці термінів протезування, Знижка 10% на кожен наступний день!</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="advantages__envelope"><img src="img/garant-third.png" class="advantages__envelope-img"/>
          <p class="advantages__envelope-info">При неприживленні імплантату, ми повертаємо - 150% Вашої суми!</p>
        </div>
      </div>
    </div>
  </div>
</div>