
<div class="blog">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="blog__heading">Новини</h2>
      </div>
    </div>
    <div class="blog__envelope">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6">
          <div class="blog__envelope-img"><img src="img/33338728406.jpg" alt="news-picture" class="blog__img"/></div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6">
          <div class="blog__envelope-img"><img src="img/a67be6b2821765b9aa149325ee5fb6dd.jpg" alt="news-picture" class="blog__img"/></div>
        </div>
        <div class="col-xs-12">
          <div class="blog__info">
            <div class="info"><span class="info__date">27.09.17</span>
              <h3 class="info__heading">Коронка</h3>
              <p class="info__subtext">Коронка - це незмінна ортопедична конструкція, що покриває частину одного зуба, або імпланту, за допомогою якої відновлюється: анатомічна форма, жувальна функція і естетика зруйнованого зуба (більше 50%). Головна функція коронки - відновити зруйновані ділянки зуба і зберегти тверді тканини, що залишились. Дуже поширена помилкова думка, що коронка скорочує термін служби зуба, в той час, як коронка, навпаки, захищає і зберігає тканини. Адже якщо на тонкі ослаблені стінки зуба поставити величезну пломбу, то через велике навантаження ці стінки можуть сколотися. І якщо скол стінки зуба відбувається нижче рівня ясен, то цей зуб підлягає видаленню. А покривши зруйнований зуб коронкою, ми отримуємо гарантування надійну конструкцію, яка прослужить багато років і збереже зруйнований зуб від подальших руйнувань.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="blog__envelope">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6">
          <div class="blog__envelope-img"><img src="img/33338728406.jpg" alt="news-picture" class="blog__img"/></div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6">
          <div class="blog__envelope-img"><img src="img/a67be6b2821765b9aa149325ee5fb6dd.jpg" alt="news-picture" class="blog__img"/></div>
        </div>
        <div class="col-xs-12">
          <div class="blog__info">
            <div class="info"><span class="info__date">27.09.17</span>
              <h3 class="info__heading">Вінір</h3>
              <p class="info__subtext">Вінір - це тонка керамічна пластинка, товщиною від 0.3мм, накладка на зовнішню частину зуба. Одне з останніх досягнень сучасної естетичної стоматології. Вони дають можливість без протезування коронками усунути дефекти передніх зубів (плями, жовтизну, відколи, зміщення і ін.) І надати зубам ідеальний вид.</p>
              <h3 class="info__heading">Застосування</h3>
              <p class="info__subtext">Вініри - являють собою найтонші (від 0,3 мм) керамічні, композитні, або порцелянові пластинки, які служать накладками на передню стінку зубів. За допомогою таких накладок, які виготовляються індивідуально для кожного Пацієнта, можна усунути дефекти зубів, як вроджені, так і придбані, наприклад: - флюорозние плями (білі і жовті плями на зубах, що виникають в результаті надлишку фтору в організмі) - тетрациклінові зуби (зміна забарвлення кольору зубів під впливом антибіотика тетрацикліну) - відколи - потемнілі старі пломби - неправильну форму зуба - щілини між зубами - зміна кольору зуба в результати травми або лікування тощо.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--  Blog-->