
<div id="show-content">
  <div class="main-slider">
    <div style="background-image: url(img/slide-first.jpg)" class="main-slider__item">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-lg-10 col-lg-offset-1">
            <div class="main-slider__info-envelope">
              <div class="info-envelope">
                <p class="info-envelope__heading">ЩАСЛИВІ ГОДИНИ</p>
                <p class="info-envelope__subtext">ЗНИЖКА 20% НА ЛІКУВАННЯ КАРІЄСУ</p>
                <p class="info-envelope__border"></p>
                <p class="info-envelope__sub">Знижка поширюється на лікування карієсу будь-якій стадії і ступеня складності. Запишіться на консультацію, щоб дізнатися про можливість лікування.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="hide-content" class="main-sliderEnvelope swiper-container">
  <div class="main-slider swiper-wrapper">
    <div style="background-image: url(img/slide-first.jpg)" class="main-slider__item swiper-slide">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-8">
            <div class="main-slider__info-envelope">
              <div class="info-envelope envelope-center">
                <p class="info-envelope__heading">ЩАСЛИВІ ГОДИНИ</p>
                <p class="info-envelope__subtext">ЗНИЖКА 20% НА ЛІКУВАННЯ КАРІЄСУ</p>
                <p class="info-envelope__border"></p>
                <p class="info-envelope__sub">Знижка поширюється на лікування карієсу будь-якій стадії і ступеня складності. Запишіться на консультацію, щоб дізнатися про можливість лікування.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="main-slider__form-envelope">
              <div class="form-envelope">
                <h3 class="modal-callbox__heading">Залиште ваші данні для отримання безкоштовної консультації</h3>
                <form action="#" method="POST" class="modal-callbox__form">
                  <input type="text" name="name" placeholder="Ваше ім'я" required="required" class="modal-callbox__input"/>
                  <input type="tel" name="phone" placeholder="Номер телефону" required="required" class="modal-callbox__input input-phone"/>
                  <input type="submit" value="безкоштовна консультація" class="modal-callbox__btn"/>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div style="background-image: url(img/slide-second.jpg)" class="main-slider__item swiper-slide">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-8">
            <div class="main-slider__info-envelope">
              <div class="info-envelope envelope-center">
                <p class="info-envelope__heading">ЩАСЛИВІ ГОДИНИ</p>
                <p class="info-envelope__subtext">ЗНИЖКА 20% НА ЛІКУВАННЯ КАРІЄСУ</p>
                <p class="info-envelope__border"></p>
                <p class="info-envelope__sub">Знижка поширюється на лікування карієсу будь-якій стадії і ступеня складності. Запишіться на консультацію, щоб дізнатися про можливість лікування.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="main-slider__form-envelope">
              <div class="form-envelope">
                <h3 class="modal-callbox__heading">Залиште ваші данні для отримання безкоштовної консультації</h3>
                <form action="#" method="POST" class="modal-callbox__form">
                  <input type="text" name="name" placeholder="Ваше ім'я" required="required" class="modal-callbox__input"/>
                  <input type="tel" name="phone" placeholder="Номер телефону" required="required" class="modal-callbox__input input-phone"/>
                  <input type="submit" value="безкоштовна консультація" class="modal-callbox__btn"/>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div style="background-image: url(img/slide-first.jpg)" class="main-slider__item swiper-slide">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-8">
            <div class="main-slider__info-envelope">
              <div class="info-envelope envelope-center">
                <p class="info-envelope__heading">ЩАСЛИВІ ГОДИНИ</p>
                <p class="info-envelope__subtext">ЗНИЖКА 20% НА ЛІКУВАННЯ КАРІЄСУ</p>
                <p class="info-envelope__border"></p>
                <p class="info-envelope__sub">Знижка поширюється на лікування карієсу будь-якій стадії і ступеня складності. Запишіться на консультацію, щоб дізнатися про можливість лікування.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="main-slider__form-envelope">
              <div class="form-envelope">
                <h3 class="modal-callbox__heading">Залиште ваші данні для отримання безкоштовної консультації</h3>
                <form action="#" method="POST" class="modal-callbox__form">
                  <input type="text" name="name" placeholder="Ваше ім'я" required="required" class="modal-callbox__input"/>
                  <input type="tel" name="phone" placeholder="Номер телефону" required="required" class="modal-callbox__input input-phone"/>
                  <input type="submit" value="безкоштовна консультація" class="modal-callbox__btn"/>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="swiper-pagination"></div>
</div>
<!-- Main Slider-->