
<div class="modal-callbox"><a href="#" data-remodal-action="close" class="modal-callbox__close"><i class="fa fa-close"></i></a>
  <h3 class="modal-callbox__heading">Ми вам перезвонимо</h3>
  <form action="#" method="POST" class="modal-callbox__form">
    <input type="text" name="name" placeholder="Ваше ім'я" required="required" class="modal-callbox__input"/>
    <input type="tel" name="phone" placeholder="Номер телефону" required="required" class="modal-callbox__input input-phone"/>
    <input type="submit" value="Надіслати" class="modal-callbox__btn"/>
  </form>
</div>
<!-- Modal callbox-->
<div data-id="1" class="modal-portfolio"><a href="#" data-remodal-action="close" class="modal-portfolio__close"><i class="fa fa-close"></i></a>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="modal-portfolio__envelope"><img src="img/after-man-1.jpg" alt="portfolio" class="modal-portfolio__img"/></div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="modal-portfolio__envelope"><img src="img/after-man-1.jpg" alt="portfolio" class="modal-portfolio__img"/></div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="modal-portfolio__envelope"><img src="img/after-woman-1.jpg" alt="portfolio" class="modal-portfolio__img"/></div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="modal-portfolio__envelope"><img src="img/after-woman-1.jpg" alt="portfolio" class="modal-portfolio__img"/></div>
    </div>
    <div class="col-xs-12">
      <div class="modal-portfolio__info">
        <div class="info">
          <h3 class="info__heading">Дентальна імплантація</h3>
          <p class="info__subtext">у цій ситуації були відсутні жувальні зуби справа на нижній щелепі. у область 6-го зуба був встановлений дентальний імплантат, через 2.5 місяця проведено протезування імплантата і 5-го зуба</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div data-id="2" class="modal-portfolio"><a href="#" data-remodal-action="close" class="modal-portfolio__close"><i class="fa fa-close"></i></a>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="modal-portfolio__envelope"><img src="img/after-man-1.jpg" alt="portfolio" class="modal-portfolio__img"/></div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="modal-portfolio__envelope"><img src="img/after-man-1.jpg" alt="portfolio" class="modal-portfolio__img"/></div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="modal-portfolio__envelope"><img src="img/after-man-1.jpg" alt="portfolio" class="modal-portfolio__img"/></div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="modal-portfolio__envelope"><img src="img/after-man-1.jpg" alt="portfolio" class="modal-portfolio__img"/></div>
    </div>
    <div class="col-xs-12">
      <div class="modal-portfolio__info">
        <div class="info">
          <h3 class="info__heading">Имплантація</h3>
          <p class="info__subtext">у цій ситуації були відсутні жувальні зуби справа на нижній щелепі. у область 6-го зуба був встановлений дентальний імплантат, через 2.5 місяця проведено протезування імплантата і 5-го зуба</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div data-id="3" class="modal-portfolio"><a href="#" data-remodal-action="close" class="modal-portfolio__close"><i class="fa fa-close"></i></a>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="modal-portfolio__envelope"><img src="img/after-man-1.jpg" alt="portfolio" class="modal-portfolio__img"/></div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="modal-portfolio__envelope"><img src="img/after-man-1.jpg" alt="portfolio" class="modal-portfolio__img"/></div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="modal-portfolio__envelope"><img src="img/after-man-1.jpg" alt="portfolio" class="modal-portfolio__img"/></div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="modal-portfolio__envelope"><img src="img/after-man-1.jpg" alt="portfolio" class="modal-portfolio__img"/></div>
    </div>
    <div class="col-xs-12">
      <div class="modal-portfolio__info">
        <div class="info">
          <h3 class="info__heading">Имплантація</h3>
          <p class="info__subtext">у цій ситуації були відсутні жувальні зуби справа на нижній щелепі. у область 6-го зуба був встановлений дентальний імплантат, через 2.5 місяця проведено протезування імплантата і 5-го зуба</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div data-id="4" class="modal-portfolio"><a href="#" data-remodal-action="close" class="modal-portfolio__close"><i class="fa fa-close"></i></a>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="modal-portfolio__envelope"><img src="img/after-man-1.jpg" alt="portfolio" class="modal-portfolio__img"/></div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="modal-portfolio__envelope"><img src="img/after-man-1.jpg" alt="portfolio" class="modal-portfolio__img"/></div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="modal-portfolio__envelope"><img src="img/after-man-1.jpg" alt="portfolio" class="modal-portfolio__img"/></div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="modal-portfolio__envelope"><img src="img/after-man-1.jpg" alt="portfolio" class="modal-portfolio__img"/></div>
    </div>
    <div class="col-xs-12">
      <div class="modal-portfolio__info">
        <div class="info">
          <h3 class="info__heading">Имплантація</h3>
          <p class="info__subtext">у цій ситуації були відсутні жувальні зуби справа на нижній щелепі. у область 6-го зуба був встановлений дентальний імплантат, через 2.5 місяця проведено протезування імплантата і 5-го зуба</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div data-id="5" class="modal-portfolio"><a href="#" data-remodal-action="close" class="modal-portfolio__close"><i class="fa fa-close"></i></a>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="modal-portfolio__envelope"><img src="img/after-man-1.jpg" alt="portfolio" class="modal-portfolio__img"/></div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="modal-portfolio__envelope"><img src="img/after-man-1.jpg" alt="portfolio" class="modal-portfolio__img"/></div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="modal-portfolio__envelope"><img src="img/after-man-1.jpg" alt="portfolio" class="modal-portfolio__img"/></div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="modal-portfolio__envelope"><img src="img/after-man-1.jpg" alt="portfolio" class="modal-portfolio__img"/></div>
    </div>
    <div class="col-xs-12">
      <div class="modal-portfolio__info">
        <div class="info">
          <h3 class="info__heading">Имплантація</h3>
          <p class="info__subtext">у цій ситуації були відсутні жувальні зуби справа на нижній щелепі. у область 6-го зуба був встановлений дентальний імплантат, через 2.5 місяця проведено протезування імплантата і 5-го зуба</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div data-id="6" class="modal-portfolio"><a href="#" data-remodal-action="close" class="modal-portfolio__close"><i class="fa fa-close"></i></a>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="modal-portfolio__envelope"><img src="img/after-man-1.jpg" alt="portfolio" class="modal-portfolio__img"/></div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="modal-portfolio__envelope"><img src="img/after-man-1.jpg" alt="portfolio" class="modal-portfolio__img"/></div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="modal-portfolio__envelope"><img src="img/after-man-1.jpg" alt="portfolio" class="modal-portfolio__img"/></div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="modal-portfolio__envelope"><img src="img/after-man-1.jpg" alt="portfolio" class="modal-portfolio__img"/></div>
    </div>
    <div class="col-xs-12">
      <div class="modal-portfolio__info">
        <div class="info">
          <h3 class="info__heading">Имплантація</h3>
          <p class="info__subtext">у цій ситуації були відсутні жувальні зуби справа на нижній щелепі. у область 6-го зуба був встановлений дентальний імплантат, через 2.5 місяця проведено протезування імплантата і 5-го зуба</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal portfolio details-->