
<div id="news" class="news">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="news__heading">Новини</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="news-slider swiper-container">
          <ul class="news-slider__list swiper-wrapper">
            <li class="swiper-slide"><a href="blog.html" class="news-envelope">
                <div class="news-img"><img src="img/slider-avatar-1.jpg" alt="news-slide" class="news-envelope__img"/></div>
                <div class="news-envelope__description">
                  <div class="envelope-hidden">
                    <p class="news-envelope__date">29.07.2017</p>
                    <h5 class="news-envelope__heading">Коронка</h5>
                    <p class="news-envelope__info">незмінна ортопедична конструкція покриває частину одного зуба, або імпланту, за допомогою якої відновлюється: анатомічна форма, жувальна функція і естетика зруйнованого зуба (більше 50%).</p>
                  </div>
                </div></a></li>
            <li class="swiper-slide"><a href="blog.html" class="news-envelope">
                <div class="news-img"><img src="img/slider-avatar-2.jpg" alt="news-slide" class="news-envelope__img"/></div>
                <div class="news-envelope__description">
                  <p class="news-envelope__date">29.07.2017</p>
                  <h5 class="news-envelope__heading">ДЕНТАЛЬНА ІМПЛАНТАЦІЯ</h5>
                  <p class="news-envelope__info">маніпуляція по встановлені в верхню або нижню щелепу зубного імпланту, для відновлення втраченого природного кореня зуба титановим прототипом.</p>
                </div></a></li>
            <li class="swiper-slide"><a href="blog.html" class="news-envelope">
                <div class="news-img"><img src="img/slider-avatar-3.jpg" alt="news-slide" class="news-envelope__img"/></div>
                <div class="news-envelope__description">
                  <p class="news-envelope__date">29.07.2017</p>
                  <h5 class="news-envelope__heading">Вінір</h5>
                  <p class="news-envelope__info">тонка керамічна пластинка, товщиною від 0.3 мм, накладка на зовнішню частину зуба. Одне з останніх досягнень сучасної естетичної стоматології.</p>
                </div></a></li>
          </ul>
        </div>
        <div class="swiper-pagination paginationTop"></div>
      </div>
    </div>
  </div>
</div>
<!-- News-->