
<div id="portfolio" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="portfolio__heading">Роботи</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6">
        <div class="portfolio__envelope-slide">
          <div class="portfolio__content-slide">
            <div class="content-slide"><img src="img/after-woman-1.jpg" alt="slide" class="content-slide__img"/><span class="content-slide__subinfo">Після лікування</span></div>
            <div class="content-slide"><img src="img/after-woman-2.jpg" alt="slide" class="content-slide__img"/><span class="content-slide__subinfo">До лікування</span></div>
          </div><a href="#" data-id="1" class="portfolio__btn-details">Детальніше</a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6">
        <div class="portfolio__envelope-slide">
          <div class="portfolio__content-slide">
            <div class="content-slide"><img src="img/after-woman-1.jpg" alt="slide" class="content-slide__img"/><span class="content-slide__subinfo">Після лікування</span></div>
            <div class="content-slide"><img src="img/after-woman-2.jpg" alt="slide" class="content-slide__img"/><span class="content-slide__subinfo">До лікування</span></div>
          </div><a href="#" data-id="2" class="portfolio__btn-details">Детальніше</a>
        </div>
      </div>
    </div><a href="portfolio.html" class="portfolio__btn-infoText">Переглянути більше робіт</a>
  </div>
</div>