
<div id="price" class="price">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="price__heading">Точну вартість лікування можна визначити лише після контультації лікаря</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-8">
        <ul class="price__list">
          <li class="price__list-item"><span class="list-item">Консультация</span><span class="list-item">0</span></li>
          <li class="price__list-item"><span class="list-item">Профілактична гігієна порожнини рота</span><span class="list-item">від 80</span></li>
          <li class="price__list-item"><span class="list-item">Анастезія</span><span class="list-item">від 30</span></li>
          <li class="price__list-item"><span class="list-item">Фотополімерна пломба</span><span class="list-item">від 200-450</span></li>
          <li class="price__list-item"><span class="list-item">Художння реставрація</span><span class="list-item">від 300</span></li>
          <li class="price__list-item"><span class="list-item">Лікування кореневого каналу</span><span class="list-item">від 60</span></li>
          <li class="price__list-item"><span class="list-item">Металокерамічна коронка</span><span class="list-item">від 1250</span></li>
          <li class="price__list-item"><span class="list-item">Безметалева коронка</span><span class="list-item">від 3200</span></li>
          <li class="price__list-item"><span class="list-item">З'ємний протез</span><span class="list-item">від 2500</span></li>
        </ul>
      </div>
    </div>
  </div>
</div>