
<div id="services" class="services">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="services__heading">Recovery</h2>
        <p class="services__subtext">Весь комплекс стоматологічних послуг</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="services__envelope-list">
          <div data-id="1" class="envelope-list"><img src="img/icon-cons.png" alt="Консультація" class="envelope-list__img"/><span class="envelope-list__info">Консультація</span></div>
          <div data-id="2" class="envelope-list"><img src="img/icon-dia.png" alt="Діагностика" class="envelope-list__img"/><span class="envelope-list__info">Діагностика</span></div>
          <div data-id="3" class="envelope-list"><img src="img/icon-prof.png" alt="Профілактика" class="envelope-list__img"/><span class="envelope-list__info">Профілактика</span></div>
          <div data-id="4" class="envelope-list"><img src="img/icon-lic.png" alt="Лікування" class="envelope-list__img"/><span class="envelope-list__info">Лікування</span></div>
          <div data-id="5" class="envelope-list"><img src="img/icon-prot.png" alt="Протезування" class="envelope-list__img"/><span class="envelope-list__info">Протезування</span></div>
          <div data-id="6" class="envelope-list"><img src="img/icon-ispr.png" alt="Виправлення прикусу" class="envelope-list__img"/><span class="envelope-list__info">Виправлення прикусу</span></div>
          <div data-id="7" class="envelope-list"><img src="img/icon-del.png" alt="Видалення" class="envelope-list__img"/><span class="envelope-list__info">Видалення</span></div>
          <div data-id="8" class="envelope-list"><img src="img/icon-vost.png" alt="Відновлення відсутніх зубів" class="envelope-list__img"/><span class="envelope-list__info">Відновлення відсутніх зубів</span></div>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="services__envelope-list list-hide">
          <div data-id="1" class="services-info"><a href="#" data-remodal-action="close" class="services-info__close"><i class="fa fa-close"></i></a>
            <p class="services-info__text">Під час розмови з лікарем Ви зможете отримати відповіді не тільки на питання які вас цікавили, але й почути пояснення на альтернативні методи лікування.</p><a href="#" class="services-info__btn">Записатись на консультацію</a>
          </div>
          <div data-id="2" class="services-info"><a href="#" data-remodal-action="close" class="services-info__close"><i class="fa fa-close"></i></a>
            <p class="services-info__text">Комплекс заходів таких як: огляд, ренген обстеження, комп’ютерна томографія, цифрове сканування та інші заходи направлені для постановки точного діагнозу та вибору правильного методу лікування.</p><a href="#" class="services-info__btn">Записатись на консультацію</a>
          </div>
          <div data-id="3" class="services-info"><a href="#" data-remodal-action="close" class="services-info__close"><i class="fa fa-close"></i></a>
            <p class="services-info__text">Гігієна зубів — це професійне чищення зубів шляхом видалення зубного каменю (над-і під ясенних зубних відкладень), а також згладжування поверхні кореня, що перешкоджає утворенню зубного нальоту.Професійне чищення зубів і видалення зубного каменю просто необхідні, інакше в тканинах пародонта може спостерігатися хронічний запальний процес, який неминуче закінчується втратою зуба.</p><a href="#" class="services-info__btn">Записатись на консультацію</a>
          </div>
          <div data-id="4" class="services-info"><a href="#" data-remodal-action="close" class="services-info__close"><i class="fa fa-close"></i></a>
            <p class="services-info__text">Сьогодні похід до стоматолога для лікування зубів не повинен асоціюватися з пекельними муками. Медична наука довела до досконалості методи знеболення, а стоматологічна техніка стала швидкою і точною, що дає можливість досягати відмінних результатів за одне-два відвідування стоматолога. Сучасні методики дозволяють відтворити оптимальні форми, розміри і естетику будь-якого зуба. Навіть така складна маніпуляція, як лікування зубних кореневих каналів, може бути легко виконана з використанням сучасних матеріалів і інструментів. Тому відкладати відвідування стоматолога для лікування зубів не має сенсу, незначні зміни можуть бути проліковані за одне відвідування.</p><a href="#" class="services-info__btn">Записатись на консультацію</a>
          </div>
          <div data-id="5" class="services-info"><a href="#" data-remodal-action="close" class="services-info__close"><i class="fa fa-close"></i></a>
            <p class="services-info__text">Гарна посмішка це - впевненість у собі а також показник загальної культури людини. Головна мета протезування - відновлення функції а також естетики, в тих випадках коли зуб сильно зруйнований внаслідок карієсу або травми (більше 50%) ,є вроджені дефекти зубного ряду, але є корінь який можна використати як опору, або зуб зовсім втрачений. Протезування може бути не знімне (вініри, коронки,коронки з опорою на імплантат, мостовині конструкції) та знімне протезування (знімні протези).</p><a href="#" class="services-info__btn">Записатись на консультацію</a>
          </div>
          <div data-id="6" class="services-info"><a href="#" data-remodal-action="close" class="services-info__close"><i class="fa fa-close"></i></a>
            <p class="services-info__text">Неправильний прикус - проблема, яка заважає в будь-якому віці. Його причиною можуть бути генетична схильність, травми, погані звички в дитинстві, але результат один - занижена самооцінка і проблеми зі здоров'ям. Якщо дітям без сумнівів ставлять брекети або пластинки, то дорослі часто сумніваються, чи варто займатися своїм прикусом. Звичайно ж, варто, адже лікуватися це краще і престижніше ніж хворіти!</p><a href="#" class="services-info__btn">Записатись на консультацію</a>
          </div>
          <div data-id="7" class="services-info"><a href="#" data-remodal-action="close" class="services-info__close"><i class="fa fa-close"></i></a>
            <p class="services-info__text">Гарна посмішка це - впевненість у собі а також показник загальної культури людини. Головна мета протезування - відновлення функції а також естетики, в тих випадках коли зуб сильно зруйнований внаслідок карієсу або травми (більше 50%) ,є вроджені дефекти зубного ряду, але є корінь який можна використати як опору, або зуб зовсім втрачений. Протезування може бути не знімне (вініри, коронки,коронки з опорою на імплантат, мостовині конструкції) та знімне протезування (знімні протези).</p><a href="#" class="services-info__btn">Записатись на консультацію</a>
          </div>
          <div data-id="8" class="services-info"><a href="#" data-remodal-action="close" class="services-info__close"><i class="fa fa-close"></i></a>
            <p class="services-info__text">Гарна посмішка це - впевненість у собі а також показник загальної культури людини. Головна мета протезування - відновлення функції а також естетики, в тих випадках коли зуб сильно зруйнований внаслідок карієсу або травми (більше 50%) ,є вроджені дефекти зубного ряду, але є корінь який можна використати як опору, або зуб зовсім втрачений. Протезування може бути не знімне (вініри, коронки,коронки з опорою на імплантат, мостовині конструкції) та знімне протезування (знімні протези).</p><a href="#" class="services-info__btn">Записатись на консультацію</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>